<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
      display: none;
    }
  </style>
</head>

<body>
  <div ng-app="app" ng-cloak>
    <div ng-controller="activeTasksController">

      <h3>Active ({{ tasks.length }})</h3>
      <span ng-if="tasks.length === 0">You have no active tasks!</span>
      <ul ng-repeat="task in tasks  | orderBy:'created'">
        <li>
          <span>{{ task.text }}</span>
          <button ng-click="completeTask(task)">complete</button>
          <button ng-click="removeTask(task)">delete</button>
          <br> Created: {{task.created | date : 'mediumDate'}}
          <br> Days passed: {{daysPassed(task.created)}}
        </li>
      </ul>

      <h3>Add a Task</h3>
      <form>
        <input type="text" placeholder="Description" ng-model="newTaskName" />
        <input type="button" value="Add" ng-click="addTask()" />
      </form>

    </div>

    <div ng-controller="completedTasksController">

      <h3>Completed ({{ tasks.length }})</h3>
      <span ng-if="tasks.length === 0">You have no completed tasks!</span>
      <ul ng-repeat="task in tasks">
        <li>
          <span>{{ task.text }}</span>
          <button ng-click="changeToActive(task)">active</button>
          <br> Created: {{task.created | date : 'mediumDate'}}
        </li>
      </ul>
    </div>
  </div>

</body>

</html>