<form name="taskForm" ng-submit="$ctrl.onSubmit(taskText)" novalidate>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" type="text" placeholder="Title" name="title" ng-model="$ctrl.task.title" ng-model-options="{ updateOn: 'blur' }"
        ng-required="true" ng-minlength="5">
    </div>
    <div ng-show="taskForm.$submitted">
      <p class="help is-danger" ng-show="taskForm.title.$error.minlength">Min title length 5 characters.</p>
      <p class="help is-danger" ng-show="taskForm.title.$error.required">Please add title.</p>
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Description" name="description" ng-model="$ctrl.task.description" ng-model-options="{ updateOn: 'blur' }"
        ng-required="true" ng-minlength="20"></textarea>
    </div>
    <div ng-show="taskForm.$submitted">
      <p class="help is-danger" ng-show="taskForm.description.$error.minlength">Min description length 20 characters.</p>
      <p class="help is-danger" ng-show="taskForm.description.$error.required">Please add description.</p>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Save</button>
    </div>
  </div>
</form>