<div>
  <h3>Completed ({{ tasks.length }})</h3>
  <span ng-if="tasks.length === 0">You have no completed tasks!</span>
  <div ng-if="tasks.length > 1">
    <span>Sort by:</span>
    <button ng-click="sortBy('text')">Name</button>
    <button ng-click="sortBy('created | daysPassed')">Date</button>
  </div>
  <ul ng-repeat="task in tasks | orderBy: sortParam">
    <li>
      <span>{{ task.text }}</span>
      <button ng-click="changeToActive(task)">active</button>
      <br> Created: {{task.created | date : 'mediumDate'}}
      <br> Days passed: {{task.created | daysPassed}}
    </li>
  </ul>
</div>